<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- Use the following configuration file to execute the client with memory entities-->
    <!--<add key="SpringConfigFile" value="ServerInMemoryConfiguration.xml" />-->
    <add key="SpringConfigFile" value="ServerEfConfiguration.xml" />
    <!--<add key="SpringConfigFile" value="ServerNhConfiguration.xml"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"></compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="eDirectory.WcfService.CustomerWcfService" behaviorConfiguration="eDirectory.WcfServiceBehaviour">
        <endpoint address="CustomerServices" binding="basicHttpBinding" bindingConfiguration="eDirectoryBasicHttpEndpointBinding" contract="eDirectory.Common.ServiceContract.ICustomerService" />
      </service>
      <service name="eDirectory.WcfService.AddressWcfService" behaviorConfiguration="eDirectory.WcfServiceBehaviour">
        <endpoint address="AddressServices" binding="basicHttpBinding" bindingConfiguration="eDirectoryBasicHttpEndpointBinding" contract="eDirectory.Common.ServiceContract.IAddressService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="eDirectory.WcfServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="eDirectoryBasicHttpEndpointBinding">
          <!--<security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>-->
        </binding>
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="eDirectoryDbContext" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=|DataDirectory|\eDirectory.sdf;default lock timeout=60000" />
  </connectionStrings>
</configuration>