<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--<add key="SpringConfigFile" value="file://InMemoryConfiguration.xml" />-->
    <!--<add key="SpringConfigFile" value="file://NhConfiguration.xml"/>-->
    <!--<add key="SpringConfigFile" value="file://EfConfiguration.xml" />-->
    <!--<add key="SpringConfigFile" value="file://RavenDBConfiguration.xml" />-->
    <add key="SpringConfigFile" value="file://WcfConfiguration.xml" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="eDirectoryBasicHttpBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:40004/CustomerWcfService.svc/CustomerServices" binding="basicHttpBinding" contract="eDirectory.Common.ServiceContract.ICustomerService" name="BasicHttpBinding_ICustomerService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:40004/AddressWcfService.svc/AddressServices" binding="basicHttpBinding" contract="eDirectory.Common.ServiceContract.IAddressService" name="BasicHttpBinding_IAddressService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="eDirectoryDbContext" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=|DataDirectory|\eDirectory.sdf;default lock timeout=60000" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>