<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="SpringConfigFile" value="file://InMemoryConfiguration.xml" />-->
    <!--<add key="SpringConfigFile" value="file://NhConfiguration.xml" />-->
    <add key="SpringConfigFile" value="file://WcfConfiguration.xml" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="eDirectoryBasicHttpBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:40003/CustomerWcfService.svc/CustomerServices"
          binding="basicHttpBinding"
          contract="eDirectory.Common.ServiceContract.ICustomerService" name="BasicHttpBinding_ICustomerService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>    
  </system.serviceModel>
</configuration>