<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Use the following configuration file to execute the client with memory entities-->
    <add key="SpringConfigFile" value="ServerInMemoryConfiguration.xml"/>
    <!--<add key="SpringConfigFile" value="ServerNhConfiguration.xml"/>-->
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="eDirectory.WcfService.CustomerWcfService" behaviorConfiguration="eDirectory.WcfServiceBehaviour">
        <endpoint address="CustomerServices" binding="basicHttpBinding" bindingConfiguration="eDirectoryBasicHttpEndpointBinding" contract="eDirectory.Common.ServiceContract.ICustomerService" />         
      </service>
      <service name="eDirectory.WcfService.AddressWcfService" behaviorConfiguration="eDirectory.WcfServiceBehaviour">
        <endpoint address="AddressServices" binding="basicHttpBinding" bindingConfiguration="eDirectoryBasicHttpEndpointBinding" contract="eDirectory.Common.ServiceContract.IAddressService" />
      </service>
    </services>
    <behaviors>
    <serviceBehaviors>
      <behavior name="eDirectory.WcfServiceBehaviour">
        <serviceMetadata httpGetEnabled="true" />
        <serviceDebug includeExceptionDetailInFaults="true" />
      </behavior>
      <behavior name="">
        <serviceMetadata httpGetEnabled="true" />
        <serviceDebug includeExceptionDetailInFaults="false" />
      </behavior>
    </serviceBehaviors>
  </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="eDirectoryBasicHttpEndpointBinding">
          <!--<security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>-->
        </binding>
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    </modules>
  </system.webServer>
</configuration>
